@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Chewy', cursive;
}

:root {
    --primary: #233252;
    --secondary:#9BB08F;
}
body {
    margin: 0;
    height: 900px;
    background: linear-gradient(var(--primary), var(--secondary));
    }


.nav {
    background-color: grey;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 200px;
    border-radius: 25px;
    box-shadow: .50em .50em 1em #FFFFFF;
}


.nav a {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    list-style: none;
    display: flex;
    height: 40px;
    width: 80px;
    
}

.nav div {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border: 0.5rem solid #004aad;
    position: relative;
    top: 30px;
    border-radius: 25px;
}

.nav a.active {
    background-color: #5552;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #form_group {
    color: #FFFFFF;
  }

  h1 {
    text-align: center;
    margin: 0px auto;
    display: block;
    color: '#FFFFF';
    text-shadow: 2px 2px red;
}

.img {
    height:150px;
    width:150px;
    border-radius: 25px;
    box-shadow: .50em .50em 1em;
}

.img_i{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    box-shadow: .50em .50em 1em;
}

.intro{
    background-color: #808080;
    width: 80vw;
    margin: auto;
    justify-content: center;
    border-radius: 25px;
    box-shadow: .75em .75em 1em;
}

.intro_p {
    text-align: center;
    width: 60vw;
    margin: auto;
    padding: 20px;
}