@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: 'Chewy', cursive;
}

:root {
    --primary: #ED6207;
    --secondary: #E9B805;

    --color-bg: #8E4A94;
    --color-bg-variant: #FFE266;

    --btn-cl: #8DCA0C; 
    --btn-cl-variant: #D2E504;

    --white: #FFFFFF;
    --blue: #0504AA; 

    --size-divisor: 3;
}

body {
    margin: 0;
    height: 900px;
    background: linear-gradient(var(--color-bg), var(--color-bg-variant));

}


.nav {
    background: linear-gradient(to top left, var(--primary),var( --secondary));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: calc(200px / var(--size-divisor));
    border-radius: 25px;
    box-shadow: .25em .25em 1em var(--white);
}


.nav a {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    list-style: none;
    display: flex;
    height: calc(40px / var(--size-divisor));
    width: calc(50px / var(--size-divisor));
    
}

.nav div {
    display: flex;
    margin-left: calc(40px / var(--size-divisor));
    margin-right: calc(40px / var(--size-divisor));
    padding-left: calc(40px / var(--size-divisor));
    padding-right: calc(60px / var(--size-divisor));
    background: linear-gradient(to top left, var(--primary),var( --secondary)) padding-box,
    linear-gradient(to right, var(--color-bg), var(--blue)) border-box;
    border-radius: 25px;
    border: 4px solid transparent;
    position: relative;
    top: 30px;
    object-fit: cover;
    object-position: bottom;
}


.nav a.active {
    background-color: #5552;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#form_group {
  color: #FFFFFF;
}

h1 {
    text-align: center;
    margin: 0px auto;
    display: block;
    color: '#FFFFF';
    text-shadow: 2px 2px #ff0000;

}

.img {
    height:calc(150px / var(--size-divisor));
    width: calc(150px / var(--size-divisor));
    border-radius: 25px;
    box-shadow: .25em .25em 1em var(--white);
    opacity: .8;
    object-fit: cover;
    object-position: bottom;
}

.img_i{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: calc(250px / var(--size-divisor));
    width: calc(250px / var(--size-divisor));
    border-radius: 25px;
    box-shadow: .25em .25em 1em var(--white);
    opacity: .8;
    object-fit: cover;
    object-position: bottom;
}

.intro{
    background: linear-gradient(to top left, var(--primary),var( --secondary));
    width: 80vw;
    margin: auto;
    justify-content: center;
    border-radius: 25px;

}


#formStyle {
    max-width: 90%;
    margin-left: 5%;
    background-color: #2C3034;
    padding-right: 3%;
    padding-top: 20px;
}

#formStyleGroup {
    margin-left: 2%;
    background-color: #2C3034;
    color:white
    
}


.intro_p {
    text-align: center;
    width: 60vw;
    margin: auto;
    padding: 20px;
}

.btn {
    background-image: linear-gradient(var(--btn-cl), var(--btn-cl-variant));
    box-shadow: 0 4px 8px;
    object-fit: cover;
    object-position: bottom;
  
}

#leaderboard{
    margin-left: 40px;
    object-fit: cover;
    object-position: bottom;
}
p {
    text-shadow: 2px 2px #ff0000;
}

@media (min-width: 576px) {
    :root{
      --size-divisor: 2;
    }
  }
  @media (min-width: 768px) {
    :root{
      --size-divisor: 1.5;
    }
  }
  @media (min-width: 992px) { 
    :root {
      --size-divisor: 1;
    }
  }
  @media (min-width: 1200px) { 
    :root{
      --size-divisor: .67;
    }
  }

