
* {
    box-sizing: border-box;
    color: #FFFFFF;
    font-family: cursive;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom, #233252, #9BB08F);
    }


.nav {
    background-color: #edff59;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    height: 200px;
}


.nav a {
    margin: 10px;
    text-decoration: none;
    color: inherit;
    justify-content: center;
    list-style: none;
    display: flex;
    height: 40px;
    width: 80px;
}

.nav div {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 50px;
    padding-right: 50px;
    border: 0.5rem solid #004aad;
    position: relative;
    top: 30px;
    border-radius: 25px;
}

.nav a.active {
    background-color: #555
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #form_group {
    color: #FFFFFF;
  }
